.screen-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--horizontal-space);
    padding-left:10px;
    padding-top: 50px;
    margin-bottom: 15px;
}

.screen-header__title{
    font-size: 28px;
    font-weight: 600;


}

.screen-header__icons span{
    margin-left: 20px;
    color:black;
}

.screen-header__icons span a{
    text-align: center;
    text-decoration: none; /* 링크의 밑줄 제거 */
    color: inherit; /* 링크의 색상 제거 */
  }